/*Начальная инициализация*/
html {
    box-sizing: border-box;
    font-size: 1.0417vw;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*Шрифты*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

input,
textarea,
select {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    outline: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    min-width: 18rem;
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

li {
    list-style: none;

}

/*Общие стили*/
h2 {
    font-size: 2.5rem;
    font-weight: 900;
    color: black;
}

h3 {
    font-size: 1.75rem;
    font-weight: 800;
}

p {
    /* font-size: 0.7rem; */
    font-size:calc(12px + 0.1rem);
    font-weight: 300;
}

/*Первый блок*/
.block1 {
    position: relative;
    min-height: 100vh;
    background: url("../images/top_bg.jpg") top center / cover no-repeat;
    overflow: hidden;
}

.block5__container {
    max-width: 51.5rem;
    margin: auto;
}

.block1::after {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    content: "";
    border-top: 6rem solid transparent;
    border-right: 100vw solid white;
}

.block1__row {
    display: flex;
    padding-top: 2.6rem;
    justify-content: space-around;
}

.block1__logo {
    width: 9.5rem;
    float: left;
}

.block1__img-logo {
    width: 10.25rem;
}

.block1__header {
    margin: auto;
}

.block1__nav {
    float: right;
    width: auto;
    line-height: 100%;
    padding-top: 0.6rem;
    float: right;
}

.block1__nav li {
    display: inline-block;
}

.block1__nav li+li {
    margin-left: 1.5rem;
}

.block1__nav a {
    font-size: 0.75rem;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
    transition: 0.2s;
    letter-spacing: 0.5px;

}

.block1__nav a:hover {
    color: #90d23d;
    cursor: pointer;
    border-bottom: 0, 05rem solid;
}

.block1__logo+.block1__navigation {
    margin-left: 2rem;
}

.block1__promo {
    color: white;
    margin-top: 10.5rem;
    text-align: center;

}

.block1__promo_h1 {
    max-width: 100%;
    max-height: 100%;
    text-align: center;
    font-size: 4rem;
    font-weight: 200;
    letter-spacing: 0.02rem;
}

.block1__promo_p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    padding: 0.5rem
}

.block1__city{
 
display: inline-block;
color: rgb(255, 255, 255);
padding-top: 0.85rem;
}

.block1__city a{
    font-size: 0.75rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.5px;
}

/*Наложение карточки*/

.card {
    position: relative;
}

.card_container {
    position: absolute;
    top: -19rem;
    width: 50%;
    padding: 1.5rem 3.5rem 2.5rem 1.5rem;
    background: #fff;
    right: 0;
    box-shadow: 0px 1px 2px 0px rgba(35, 31, 32, 0.65);
}

.card__header {
    font-size: 2rem;
    padding-bottom: 2.02rem;

}

.card p {
    letter-spacing: 0.01rem;

}


/*Второй экран*/

.block2 {
    display: flex;
    margin: auto;
    max-width: 51.5rem;
    margin-top: 2.4rem;
}

.block2__header {
    margin-top: 0.2rem;
    float: left;
}

.block2__adv {

    width: 51.5rem;
    text-align: center;
    padding-top: 8.8rem;
    vertical-align: middle;
}

.block2__adv-inline {
    float: left;
    width: 33.33%;
    padding: 0rem 0.75rem;
}

.block2__adv-inline-img {
    height: 10.5rem;
    position: relative;
    vertical-align: middle;

}

.block2__adv-inline-img img {
    width: 10rem;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.5s;
}

.block2__adv-inline-img img:hover {
    width: 10.7rem;
}

.block2__adv-inline h3 {
    padding-top: 2.2rem;
}

.block2__adv-inline p {
    padding-top: 1rem;
}

/*Третий экран*/

.block3 {
    display: block;
    margin: auto;
    margin-top: 6.3rem;
    max-width: 51.5rem;

}

.movi-list__header {
    text-align: center;
    margin: -0.5rem auto 4rem;
}

.movi-list__table {
    margin: auto;
    font-family: "Roboto", Sans-Serif;
    border-radius: 0.75rem;
    border-collapse: collapse;
    overflow: hidden;
    color: white;
    width: 100%;
}

/**Таблица. Заголовочная строка.**/

.movi-list__table_thead {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #a3cc40;

    
}

.movi-list__table_thead_th1 {
    padding: 0.75rem;
    text-align: center;
}

.movi-list__table_thead_th2 {
    padding: 0.75rem;
    text-align: left;
 }
.movi-list__table_thead_th3{
    padding: 0.75rem;
    text-align: left;
}

.movi-list__table_thead_th4{
    text-align: center;
    padding: 0.75rem;
}
.movi-list__button {
    text-align: center;
    align-items: center;
    width: 1.3rem;
    padding-left: 0.2rem;
}

.movi-list__button-plus {
    width: 1.7rem;
    align-items: center;
}

/**Таблица. Тело.**/

.movi-list__table_tbody {
    font-size: 1.1rem;
    font-weight: normal;
    height: 4.75rem;
}

.movi-list__table_tbody_tr1 {
    background-color: #373737;
}

.movi-list__table_tbody_tr2 {
    background-color: #6c6c6c;
}

.movi-list__table_tbody_tr3 {
    background-color: #373737;
}

.movi-list__table_tbody_tr4 {
    background-color: #4b4d4f;
}

.movi-list__table_tbody_tr5 {
    background-color: #373737;
}

.movi-list a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.movi-list__table button {
    border: 0;
    padding: 0;
    overflow: visible;
    background-color: transparent;
}

.movi-list__text {
    margin-top: 2rem;
}

/*Четвертый экран*/

.block4 {
    position: relative;
    background-image: url("../images/b4_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 37.5rem;
    margin-top: 7.25rem;
}

.block4__container {
    max-width: 51.5rem;
    margin: auto;
}

.block4__image {
    position: absolute;
    width: 16.4rem;
    border-radius: 50%;
    box-shadow: 0.525rem 0.90935rem 0.6rem 0rem rgba(35, 31, 32, 0.55);
    margin-top: -2.9rem;
}

.block4::before {
    position: absolute;
    top: 0;
    background-color: transparent;
    content: "";
    border-bottom: 6rem solid transparent;
    border-left: 100vw solid white;
}

.block4::after {
    position: absolute;
    bottom: 0;
    background-color: transparent;
    content: "";
    border-top: 6rem solid transparent;
    border-right: 100vw solid white;

}

.block4__present-text {
    width: 33.5rem;
    text-align: right;
    float: right;
    margin-top: 7.5rem;

}

.block4__paragraf {
    margin-top: 2.9rem;
    line-height: 0.85rem;
}

.block4__button {
    margin-top: 1.7rem;
}

.block4__button-style {
    border: none;
    border-radius: 0.75rem;
    background-color: rgb(144, 210, 61);
    width: 11rem;
    height: 2.75rem;
    color: rgb(255, 255, 255);
}
/*Начало стилей формы для подарка*/
.popap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
}

.hidden {
    display: none;
}

.order-form {
    background: rgb(255, 255, 255);
    border-radius: 0.7rem;
    box-shadow: 1px 0px 5px rgb(125, 125, 125);
    box-sizing: border-box;
    height: 33rem;
    width: 30rem;
    padding: 1rem;
    margin: 7.5rem auto;
    position: relative;
}

.close {
    display: block;
    position: absolute;
    right: 1rem;
    cursor: pointer;
}

.order-form__body{
    max-width: 22.5rem;
    padding: 1.25rem;
    padding-top: 2.5rem;
    padding-right: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 1.25rem;
    margin: auto;
}

.icon__close
{
    font-size: 2rem;
}

.order-form__select-place{
    margin-top: 2rem;
}

.order-form__input-fields{
    font-size: .95rem;
    color: #6c6c6c;
    padding: 0.75rem 0.55rem;
    border: 1px solid #bebebe;
    border-radius: 0.25rem;
    width: 100%;
}

.order-form__input-wrap{
    margin-top: 2rem;
}
/*Конец стилей формы для подарка*/
/*Начало стилей для формы покупки билета*/
.order-tickets{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 2;
}

.order-tickets__form{
    width: 50rem;
    height: 45.7rem;
    border-radius: 15px;
    background-color: #fff;
    padding: 30px 20px;
    margin: 150px auto;
    position: relative;
}

.modal-form{
    font-size: 1.5rem;
    color: #6c6c6c;
    padding: 0.3rem 0.3rem;
    border: 1px solid #bebebe;
    border-radius: 0.25rem;
    width: 100%;
    margin: auto;
    margin-top: 0.7rem;
}

.order-tickets__data{
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.order-tickets__customer{
    padding-top: 1rem;
    font-size: 1.5rem;
    color: #a3cc40;
}

.order-tickets__mod-marg-left{
    margin-left: 3rem;
}

.order-tickets__mod-marg-top{
    margin-top: 0.7rem;
}

.busy {
    background: #ffa500;
}

.spare{
    background: #a3cc40;
}

.focused{
    background: gray;
}

.paid{
    background: rgb(117, 112, 187);
}

.cinema-tickets{
    text-align: center;
    margin-top: 1rem;
}

.square{
    display: inline-block;
    text-align: center;
    padding-top: 3px;
    width: 30px;
    height: 30px;
    border: 1px solid #0a0a0a;
    margin: 2px;
}
/*Конец стилей для формы покупки билета*/
/*Пятый экран*/

.block5 {
    width: 51.5rem;
    margin: auto;
    margin-top: 2.2rem;
}

.block5__h2 {
    margin-bottom: 2.1rem;
}

.block5__text-p {
    max-width: 33rem;
    margin-top: 2.15rem;
    margin-bottom: 2.8rem;
    line-height: 0.7rem;
}

.block5__table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2.8rem;
    grid-column-gap: 2.8rem;

}

.block5__relative {
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}

.block5__movie1 {
    overflow: hidden;
}

.container_block {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
}

.block5__description {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(144, 210, 61, 0.5);
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    border-radius: 0.75rem;
    overflow: hidden;
    transform: translateY(100%);
    transition: 0.2s;
}

.block5__relative:hover .block5__description {
    transform: translateY(0%);
}

.block5__image {
    display: block;
    width: 14.8rem;

    object-fit: cover;
}

.block5__text-header {
    color: white;
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

.block5__icons {
    position: absolute;
    left: 1.2rem;
    bottom: 1.2rem;
}

.block5__link {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 100%;
    background: white;
    color: rgb(144, 210, 61, .5);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;
    line-height: 1.5rem;
    font-size: 1rem;
}

.block5__text {
    flex: 1;
    font-size: 0.9rem;
    font-weight: 500;
    color: white;
}

.block5__white-line {
    width: 4.2rem;
    height: 0.3rem;
    background-color: white;
    margin-bottom: 0.5rem;
}

/* Интерактивная карта */
.block6__map {
    margin-top: 4.4rem;
}

/*Подвал*/

.footer {

    position: absolute;
}

.my-footer {
    overflow: hidden;

}

.footer__container {
    margin: auto;
    width: 100%;
    height: 11.1rem;
    background-color: #90d23d;

    align-items: center;
    justify-content: center;
}

.footer_blogs {
    width: 10rem;
    display: inline-block;
    margin: 3rem 45.35% 0rem;
}


.footer__icons {
    display: inline-block;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    background: white;
    color: rgb(144, 210, 61);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;
    line-height: 2.2rem;
}

.footer__icons:hover {
    box-shadow: none;
}

.footer__svg-block {
    display: inline;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.footer_paragraf {
    font-size: 0.9rem;
    text-align: center;
    margin: 1.9rem auto 0rem;
}

.ajax-loader{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255,255,255,0.8);
}

/**Модификаторы**/
.left {
    text-align: left;
}

.center {
    text-align: center;
}

.vertical-align {
    vertical-align: middle;
}

.row-height {
    height: 3.75rem;
}

.indent66 {
    text-align: left;
}

.indent49 {
    /* padding-right: 2.45rem; */
    /* vertical-align: middle; */
    text-align: left;
}

.button-transparent {
    color: none;
    border: none;
}

.block1__link {
    text-decoration: none;
}

.text_white {
    color: white;
}

.inline {
    display: inline;
}

.icons-size {
    font-size: 1.5rem;

}

.maximum-height{
    max-height: 18rem;
}

/* .carusel {
    width: 100px;
    height: 100px;
    background-color: lawngreen;
} */

.inline-blocks {
    display: inline-block;
}

/**Сетка макета*/

/** Медиа – правила */
