@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

.container {
    max-width: 1030px;
    margin: auto;
    max-height: 375px;
}

body {
    font-family: 'Roboto', sans-serif;
}

/**
@font-face {
    font: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format("trutype");
    src: url('../fonts/RRoboto-Thin.ttf') format("trutype");
    src: url('../fonts/Roboto-Medium.ttf') format("trutype");

    font-weight: 700
}
*/
.block1{
    background-image:url("../images/top_bg.jpg");
    background-color: #751f1f;
    width: 1366px;
    height: 777px;

}

.block1_nav{

}


.movi-list {
    max-width: 1030px;
    margin: auto;      
}

.movi-list__table_header {
    font-size: 50px;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-bottom: 80px;
}

.movi-list__table {
    font-family: "Roboto", Sans-Serif;
    text-align: center;
    border:20px black;
    border-radius: 15px;
    border-collapse: collapse;
    border-spacing: 0;
    overflow: hidden;
    width: 100%;
    padding: 10em;
   
}

.movi-list__table thead {
    font-size: 30px;
    color: white;
    font-weight: bold;
    background-color: #a3cc40;
}

.movi-list__table_tbody {
    font-size: 22px;
    font-weight: normal;
    color: white;
    text-align: center;
    background-color: #4b4d4f;
    
}

.movi-list__table tr{
    height: 75px;
}

.movi-list tbody tr:nth-child(odd) {
    background-color: #373737;
}

.movi-list__table tbody td:nth-child(2n){
    text-align: left;
}

.movi-list__table thead th:nth-child(1){
    padding-left: 81px;
    text-align: left;
}
.movi-list__table thead th:nth-child(2n){
    padding-left: 100px;
    text-align: left;
}

.movi-list__table tbody td img{
padding-right: 40px;
}
.movi-list__table_tbody td a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 100px;
    text-align: left;
}
.movi-list__table_tbody_time{
   padding-left: 33px;
    }
.footer {
    display: flex;
}

.footer_blogs {
    height: 220px;
    background-color: #90d23d;
    display: flex;
    align-items: center;
    justify-content: center;
}